---
Checks: >-
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  performance-*,
  portability-*,
  readability-*
WarningsAsErrors:    '*'
HeaderFilterRegex:   '.*'
FormatStyle:         none
CheckOptions:
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.MethodCase
    value:           camelBack
  - key:             readability-identifier-naming.ParameterCase
    value:           camelBack
  - key:             readability-identifier-naming.MacroDefinitionCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           m
  - key:             readability-identifier-naming.PrivateMemberCase
    value:           CamelCase
  - key:             readability-identifier-naming.ProtectedMemberPrefix
    value:           m
  - key:             readability-identifier-naming.ProtectedMemberCase
    value:           CamelCase
  - key:             readability-identifier-naming.StructCase
    value:           CamelCase
  - key:             readability-identifier-naming.VariableCase
    value:           camelBack
  - key:             readability-identifier-naming.GlobalConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.NamespaceCase
    value:           camelBack
...

