petrack.pro.user*
/dist
/3rdparty
/installer
/installerSetupErstellung
/debug
/release
/build
/moc
Makefile*
object_script*
.qmake.stash
__pycache__
*_test.trc
*_test.txt

# MSVC Stuff
/x64 
/.vs
*vcxproj*
petrack.sln
