**/tests/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
**/tests/**/*.avi filter=lfs diff=lfs merge=lfs -text
**/tests/**/*.jpg filter=lfs diff=lfs merge=lfs -text
**/tests/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
**/tests/**/*.mpeg filter=lfs diff=lfs merge=lfs -text
**/tests/**/*.tif filter=lfs diff=lfs merge=lfs -text
**/tests/**/*.wmv filter=lfs diff=lfs merge=lfs -text
**/tests/**/*.png filter=lfs diff=lfs merge=lfs -text
**/tests/**/*.MTS filter=lfs diff=lfs merge=lfs -text
**/tests/**/*.M2T filter=lfs diff=lfs merge=lfs -text
**/tests/**/*.MOV filter=lfs diff=lfs merge=lfs -text
**/tests/**/*.AVI filter=lfs diff=lfs merge=lfs -text
**/tests/**/*.MPG filter=lfs diff=lfs merge=lfs -text
**/tests/**/*.m2ts filter=lfs diff=lfs merge=lfs -text
**/tests/**/*.JPG filter=lfs diff=lfs merge=lfs -text
**/tests/**/*.gif filter=lfs diff=lfs merge=lfs -text
demo/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
